

.blogContent p {
  margin: 0;
  padding: 2px;
}

.blog button:not(.remove) {
  margin-left: 5px;
}

.remove {
  margin-top: 5px;
}

a {
  padding: 5px;
  color: #90caf9;
  text-decoration: underline;
}

a:hover {
  color: #bbdefb;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.loginForm .MuiTextField-root {
  width: 210px;
}

.blogForm {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.blogForm .MuiTextField-root {
  width: 250px;
}